.experience {
    &__container {
        position: relative;
        margin-top: 2rem;
        display: grid;
        gap: 1.5rem;
        overflow: hidden;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--color-black);
        margin-bottom: 0.7rem;
    }

    &__line {
        position: absolute;
        left: 26px;
        width: 3px;
        background: var(--color-light);
        height: 100%;
    }

    &__circle {
        box-sizing: border-box;
        position: absolute;
        box-shadow: 0 0 0 3px #fff;
        left: 22px;
        height: 11px;
        width: 11px;
        border: 2px solid var(--color-primary);;
        border-radius: 50%;
        background-color: #fff;
    }

    &__txt {
        white-space: pre-line;
        margin-top: -0.25rem;
        margin-left: 3rem;
    }

    &__comment {
        margin-top: 1rem;
    }

    &__btn {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 0.7rem;
    }
}

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
}